.light {
	border: 2px solid black; 
	padding: 1em;
}

.info {
	text-align: center;
}
	
.wrapper {
	margin 5px;
	padding: 4%;
	display: grid;
	grid-template-columns: repeat(4, 4fr);
	grid-gap: 2em;
	/*grid-auto-rows: 150px;*/
	grid-auto-rows: minmax(100px, auto);
}

h1 {
	font-family: Comic Sans MS;
}

p {
	font-family: Comic Sans MS;
}

.button {
	background-color: white;
	padding:12px 12px;
	border: 2px solid black;
	font-family: Franklin Gothic Medium;
	font: bold;
	box-shadow: 3px 3px 0 0 black;
	float:right;
	margin-right:15%;
}

.button:hover {
	background-color: black;
	color: white;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,0.19);
}

.inp {
	border: 2px solid black;
	font-family: franklin gothic medium;
}

.field {
	clear:both;
	text-align:right;
	line-height: 25px;
}

label {
	float:left;
    padding-right:10px;
}

.main {float:left;}

div {
	font-family: Comic Sans MS;
}

#win {
	padding:15px;
	border: 2px solid black;
}

.error {
	font-size: 0.85em;
	color: red;
}
